#book{
  width: 350px;
  height: 480px;
  color: white;
  text-align: center;
  background: #1F1F1F;
  padding: 20px;
  padding-top: 80px; 
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
