<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="{{ '/' | relative_url }}">
      <img src="{{ '/assets/img/logo.svg' | relative_url }}" class="mr-2" width="30" height="30" alt="Vue on Rails Logo" />
      Vue on Rails
    </a>

    <div class="form-inline ml-auto">
      <a class="btn btn-warning px-3 mx-4" href="{{ site.apress_book_url }}"><i class="fas fa-book mr-1"></i> Buy Book</a>
      <a class="btn btn-outline-dark px-3" href="{{ site.github_repo }}"><i class="fab fa-github mr-1"></i> Contribute</a>
    </div>
  </div>
</nav>
