.logo {
  background: url("#{ $baseurl }/assets/img/logo.svg");
  background-size: cover;
  height: 8rem;
  width: 8rem;
}

.logo-text {
  color: white;
  font-size: 4.5rem;
  opacity: .85;
  text-align: center;
}
